.example-card {
    max-width: 200px;
  }
  .img {
    width: 50%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 40%;
    margin-left: 39px;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .no-records {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }