<div>

    <mat-toolbar color="primary">
      The list of registered Users : 
    </mat-toolbar>
    <!-- {{logThis(users)}} -->
    
  <mat-table  [dataSource]="dataSource"  class="mat-elevation-z8">
     <!-- {{logThis(users)}} -->
    
      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef>First Name  </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef>First Name  </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
      </ng-container>
  
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email Address </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
  
          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
          </ng-container>

          
     
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

   <mat-paginator [pageSize]="10"></mat-paginator>
  <!--<table>
    <tr>
      
      <th>First name</th>
      <th>Last Name</th>
    </tr>
   
      <tr *ngFor ="let person of users">
      <td>{{person.firstname}}</td>
      <td>{{person.lastname}}</td>
    </tr>
  </table>-->
  </div>